.resultat-bp-wrapper {
  position: relative;
  border-radius: 4px;
  padding: 16px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--color-accent);
  box-shadow: -6px -2px 16px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.08);
  .header {
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 8px;

    .agence {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .details {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .code-postal {
      margin-top: 12px;

      .digit-border {
        border: 2px solid var(--color-primary);
        margin-right: 1px;
        padding-left: 2px;
        padding-right: 2px;
      }
    }

    .localite {
      border-bottom: 2px solid var(--color-primary);
    }

    .copy-button {
      &.mobile {
        mat-icon {
          margin: 0;
        }
      }
    }
  }
}

.chips{
  display: flex;
  align-items: center;
  background: white;
  border: solid 1px #fcb109;
  color: #fcb109;;
  border-radius: 15px;
  padding: 0 10px;
}
