<div class="resultat-bp-wrapper">
  <div class="header">
    <div class="agence">{{ boitePostale.agence }}</div>
  </div>
  <div class="details">
    <div class="enveloppe" #enveloppe>
      <div>BP {{ boitePostale.numero }}</div>
      <div class="code-postal">
        @for (digit of boitePostale.codePostal.toString(); track $index) {
        <span class="digit-border">{{ digit }}</span>
        }
        <span>{{ " " }}</span>
        <span class="localite">{{ boitePostale.localite }}</span>
      </div>
    </div>
    <button
      mat-stroked-button
      color="primary"
      class="copy-button"
      [ngClass]="{ mobile: isMobile }"
      (click)="copier(enveloppe)"
    >
      <mat-icon>content_copy</mat-icon>{{ isMobile ? "" : "Copier" }}
    </button>
  </div>
</div>
