<form [formGroup]="searchCommuneForm" (ngSubmit)="search()">
  <div class="search-container">
    <mat-form-field
      appearance="outline"
      class="search-form-field"
      color="accent"
    >
      <mat-label>Commune</mat-label>
      <input
        matInput
        type="text"
        placeholder="ex : NOUMEA"
        formControlName="nomCommune"
        [matAutocomplete]="auto"
      />
      @if (searchCommuneForm.value.nomCommune) {
      <button
        type="button"
        color="accent"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchCommuneForm.controls.nomCommune.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="search()"
      >
        @for (commune of filteredCommunes | async; track commune) {
        <mat-option [value]="commune">{{ commune }}</mat-option>
        }
      </mat-autocomplete>
      @if (searchCommuneForm.controls.nomCommune.hasError("required")) {
      <mat-error>Veuillez saisir une commune</mat-error>
      } @else if (searchCommuneForm.controls.nomCommune.hasError("notfound")) {
      <mat-error>La commune saisie est introuvable</mat-error>
      } @else if (searchCommuneForm.controls.nomCommune.hasError("network")) {
      <mat-error>Une erreur réseau est survenue</mat-error>
      }
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="searchCommuneForm.controls.nomCommune.hasError('required')"
      class="search-button"
    >
      <mat-icon>search</mat-icon>Rechercher
    </button>
  </div>
</form>

@if (isLoading) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @if (!isLoading && hasFoundResults) {
<div class="cps-trouvées">
  {{ showNumberOfCPsFound() }}
</div>

@for (codePostal of codesPostauxJson; track $index) {
<app-resultat-cp
  [codePostal] = "codePostal"
></app-resultat-cp>
}
}
