<div class="resultat-cp-wrapper">
  <div class="header">
    <div class="localite">
      {{ codePostal.localite }}
    </div>
    <div class="types">
      @if (codePostal.typeBp) {
      <div class="chips">
           <mat-icon>local_post_office</mat-icon>{{ isMobile ? "" : "BP" }}
      </div>
      } @if (codePostal.typeDomicile) {
      <div class="chips">
         <mat-icon>home</mat-icon>{{ isMobile ? "" : "Domicile" }}
      </div>
      }
    </div>
  </div>
  <div class="details">
    <div>{{ codePostal.code }}</div>
    @if (codePostal.typeBp) {
      <button mat-stroked-button color="primary" class="bps-button" [ngClass]="{ mobile: isMobile }" (click)="ouvrirIntervalles()">
        <mat-icon>list</mat-icon>{{ isMobile ? "" : "BPs associées" }}
      </button>
    }
  </div>
</div>
