.resultat-cp-wrapper {
  position: relative;
  border-radius: 4px;
  padding: 18px 12px 12px;
  font-size: 1.1rem;
  box-shadow: -6px -2px 16px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.08);
  color: var(--color-accent);

  .header {
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    .localite {
      margin-top: 5px;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .types {
      display: flex;
      gap: 4px;
      position: absolute;
      top: -16px;

      .type {
        display: flex;
        align-items: center;
        border: 1px solid var(--color-primary);
        border-radius: 4px;
        padding: 1px;
        background-color: var(--bg-color);
      }
    }
  }

  .details {
    padding-top: 8px;
    color: var(--color-accent);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bps-button {
      &.mobile {
        mat-icon {
          margin: 0;
        }
      }
    }
  }
}

.chips{
  display: flex;
  align-items: center;
  background: white;
  border: solid 1px #fcb109;
  color: #fcb109;;
  border-radius: 15px;
  padding: 0 10px;
}
