.resultat-cp-wrapper {
  position: relative;
  border: 3px solid var(--color-primary);
  border-radius: 4px;
  padding: 12px;
  padding-top: 18px;
  font-size: 1.1rem;
  box-shadow: 0px 0px 10px grey;
  color: var(--color-accent);

  .header {
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 8px;
    text-transform: uppercase;

    .localite {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .types {
      display: flex;
      gap: 4px;
      position: absolute;
      top: -16px;

      .type {
        display: flex;
        align-items: center;
        border: 1px solid var(--color-primary);
        border-radius: 4px;
        padding: 1px;
        background-color: var(--bg-color);
      }
    }
  }

  .details {
    padding-top: 8px;
  }
}