.boite-infos {
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 12px;

  .titre {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid var(--color-accent);
    padding-bottom: 6px;
  }

  .details {
    padding-top: 6px;
    .label {
      font-weight: bold;
      color: var(--color-accent);
    }
  }
}
