@if (this.type === 'CodePostal') {
<div class="boite-infos">
  <div class="titre">{{ titre }}</div>
  <div class="details">
    <span class="label">Code postal :</span> {{ details.codePostal }}
  </div>
</div>
} @else if (this.type === 'BoitePostale') {
<div class="boite-infos">
  <div class="titre">{{ titre }}</div>
  <div class="details">
    <span class="label">Localité :</span> {{ details.nomLocalite }} <br>
    <span class="label">Code postal :</span> {{ details.codePostal }} <br>
    <span class="label">Agence :</span> {{ details.nomAgence }}
  </div>
</div>
}
