.main-wrapper {
display: flex;
justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
}

.champ-selection {
  margin-bottom: 15px;
}

.label {
  cursor: pointer;
}

.intitule {
  color: var(--color-accent);
}