.navbar {
  height: 60px;
  border-bottom: 3px solid var(--color-primary);
  display: flex;
  align-items: center;
  padding: 10px;

  .versions {
    height: 100%;
    margin-right: auto;
    margin-left: 10px;
    display: flex;
    gap: 5px;
  }

  .logo {
    height: 90%;
  }
}

button {
  height: 100%;
  color: var(--color-accent);
}

.active {
  border: 2px solid var(--color-primary);
}
