<div class="navbar">
        <img class="logo" src="images/opt_logo_courrier_navbar.svg" alt="Logo OPT-NC">
        <div class="versions">
          <button routerLink="/v1" routerLinkActive="active" mat-button color="accent" class="version-button">Version 1</button>
          <button routerLink="/v2" routerLinkActive="active" mat-button color="accent" class="version-button">Version 2</button>
        </div>
        <button routerLink="/faq" routerLinkActive="active" mat-button color="accent" class="faq-button">FAQ</button>
</div>
