<div class="navbar">
  <!-- <img class="logo" src="assets/images/opt_logo_courrier_navbar.svg" alt=""> -->
  <!-- solution temporaire puisque je n'arrive pas à charger l'image localement -->
  <img
    class="logo"
    src="https://monespace.opt.nc/assets/images/opt_logo_courrier_navbar.svg"
  />
  <div class="menus">
    <button routerLink="/v1" mat-button color="accent">Version 1</button>
    <button routerLink="/v2" mat-button color="accent">Version 2</button>
  </div>
  <button routerLink="/faq" mat-button color="accent" class="faq-button">FAQ</button>
</div>
